:root {
    --columns: 16;
    --rows: 16;
}

body {
    display: grid;
    justify-content: center;
}

#container {
    min-height: 37vw;
    min-width: 37vw;
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-template-rows: repeat(var(--rows), 1fr);
    justify-content: center;
    align-items: center;
    margin-top: 45px;
    border: 1px solid black;
    box-sizing: border-box;
}

.box {
    background-color: white;
    padding: 50%;
    border: 1px solid black;
    box-sizing: border-box;
}

.color {
    background-color: black;
}

.noBorder {
    border: none;
}